.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  flex-wrap: wrap;
  /*border: 2px solid black;*/
  background-color: white;
  width: 356px;

}

.container {
  display: flex;
  /*width: 100vw;*/
  /*height:   100vh;*/
  flex: 1;
  flex-direction: row;
  /* background-color: white; */
}


.logo {
  height: 57px;
  width: 204px;
  object-fit: contain;
  margin: 20px;
  padding: 20px;
  position: relative;
  top : -20px;
  left: -20px;
}

hr {
  top: 20px;
  border: none;
  height: 2px;
  width: 100%;
  /*position: relative;*/
  /*top: 10px;*/
  background: #E7EFFF;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #E7EFFF;
}

h1 {
  font-size: 20px;
  font-weight: lighter;
  margin: 0px;
  padding: 8px;
}